<div style="padding-top: 15px;">
<div class="jumbotron navy_blue">
<h1>Sign up</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-2">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, style: "width: 100%;", :autofocus => true %>
  </div> <div class="col-lg-2">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, style: "width: 100%;" %>
</div>
</div>

<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, style: "width: 100%;" %>
  </div>
</div>

<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <%= f.label :password %><br />
    <%= f.password_field :password, style: "width: 100%;" %>
  </div>
</div>
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, style: "width: 100%;" %>
  </div>
</div>

<div class="row">
   <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <%= f.submit "Sign up", class: "btn btn-large btn-primary", style: "width: 100%;"%>
  <% end %>
  </div>
</div>
</div>
</div>
</div>
