
	<div class="row">
		<%= render "button-nav" %>
	</div>
<% provide(:title, "Profile") %>

<h3><%= pluralize(@user.uploads.size, "Photo") %></h3>

<div class="panel-body">
	<ul class="timeline">
		<%= render :partial => @user.uploads %>         
	</ul>
</div>

<%= form_for Allergy.new(:user_id => @user.id), :html => { :multipart => true } do |f| %> 
<%= f.hidden_field :user_id, "value" => @user.id %><p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
	<%= f.submit "Add Allergy" %>
<% end %>

<h3>Upload a Photo</h3>
<%= form_for Upload.new(:user_id => @user.id), :html => {:multipart => true, class: 'form-horizontal' } do |f| %>
	<%= f.hidden_field :user_id, "value" => @user.id %>
	<p>
		<%= f.file_field :photo, class: "btn btn-warning btn-lg" %>
	</p>
	<p><%= f.submit "Upload", class: "btn btn-success btn-lg" %></p>
<% end %>	

