<div class="container">
	<center class="img-circle"><img class="img-circle"><%= gravatar_large_for @user %></img>
	<h1 class="center brand-heading"><%= @user.full_name %></h1>
	<h3>Health Portfolio</h3>
	<hr>
	<div class="row">
		<%= render "button-nav" %>
	</div>
<% provide(:title, "Profile") %>

<h3><%= pluralize(@user.uploads.size, "Photo") %></h3>

<div>
	<%= render :partial => @user.uploads %>
</div>

<h3>Upload a Photo</h3>
<%= form_for Upload.new(:user_id => @user.id), :html => {:multipart => true, class: 'form-horizontal' } do |f| %>
	<%= f.hidden_field :user_id, "value" => @user.id %>
	<p>
		<%= f.file_field :photo %>
	</p>
	<p><%= f.submit "Upload" %></p>
<% end %>	


<%= image_tag @user.avatar.url(:medium) %>

<%= form_for @user, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar, class: "btn btn-default" %>
  <%= form.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>

