<% provide(:title, "Settings") %>

<div class="row-fluid">
	<div class="col-lg-12">
		<div class="row-fluid">
			<div class="col-lg-3">
				<h4 style="color: grey;"><%= current_user.full_name %></h4>
				<hr>
				<ul class="nav nav-pills nav-stacked">
					<li >
						<%= link_to "Profile", users_profile_path %>
					</li>
					<li class="active"><%= link_to "Age, height, sex...", settings_picture_path %></li>
					<li><%= link_to "Allergies", settings_picture_path %></li>
					<li><%= link_to "Medications", settings_notifications_path %></li>
					<li><%= link_to "Provider Info", settings_notifications_path %></li>
				</ul>
			</div>
			<div class="col-lg-9">
				<% @user = current_user %>
				<h4>Profile Info</h4>
				<hr>
				<%= form_for(@user) do |f| %>
					<div class="row">
						<div class="col-lg-3" style="text-align: right;">
							<p style="vertical-align: middle;">Date of Birth</p>
						</div>
						<div class="col-lg-4">
							 <%= f.date_select :date_of_birth, :as => :date, :start_year => Date.today.year - 12,
:end_year => 1900,
:order => [ :day, :month, :year] %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3" style="text-align: right;">
							<p style="vertical-align: middle;">Age</p>
						</div>
						<div class="col-lg-4">
							<%= f.text_field :email %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3" style="text-align: right;">
							<p style="vertical-align: middle;">Height</p>
						</div>
						<div class="col-lg-4">
							<%= f.text_field :email %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3" style="text-align: right;">
							<p style="vertical-align: middle;">Sex</p>
						</div>
						<div class="col-lg-4">
							<%= f.text_field :password %>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-4 col-lg-offset-3">
							<%= f.submit "Save changes", class: "btn btn-primary" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

