<div style="padding-top: 15px;">
<div class="jumbotron navy_blue">
<h1>Sign in</h1>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <%= f.label :email %>
    <%= f.email_field :email, style: "width: 100%;", :autofocus => true %>
  </div> 
</div>
<div class="row">
	<div class="col-lg-4"></div>
  <div class="col-lg-4">
  <%= f.label :password %>
  <%= f.password_field :password, style: "width: 100%;" %>
</div>
</div>
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
</div>
</div>
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
  <div><%= f.submit "Sign in", class: "btn btn-large btn-primary", style: "width: 100%;" %></div>
</div>
</div>
</div>
<% end %>


</div>
</div>
</div>

