<!-- Side Menu -->

    <a id="menu-toggle" href="#" style='padding: 4px; margin-left: 10px;' class="pull-left btn btn-primary  toggle"><%=  image_tag("komodo_icon.png", height: "42", style: 'padding: 0px;, margin: 0;') %></a>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-success btn-md pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand"><%=  image_tag("komodo_nav_white.png", height: "42", style: 'padding: 0px, margin-left: 0px;' ) %>
            </li>
            <li class=''><%= ilink_to "home icon-", root_path, class: "" do %> Home
          <% end %>
            </li>
            <li><%= ilink_to "medkit icon-", current_user, class: "" do %> My Profile
          <% end %>
            </li>
            <li>
              <%= ilink_to "user-md icon-", users_path, class: "" do %> Health Network
          <% end %>
            </li>
            <li><%= ilink_to "comments icon-", root_path, class: "-" do %> Conversations
          <% end %>
            </li>
             <li><%= ilink_to "gear icon-", root_path, class: "-" do %> Settings
          <% end %>
            </li>
        </ul>
    </div>
    <!-- /Side Menu -->

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      
</div>
<div class="col-lg-3">
   <% if user_signed_in? %>
      
    </ul>
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-1">
    <ul class="nav nav-pills pull-right">


    
        </ul>
  <% else %>
</div>
  <div class="col-lg-4">
 <ul class="nav navbar-nav pull-right">
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default pull-left", style: "margin-top: 0px;" %> 
        <li><p class="navbar-text">or </p></li>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-default pull-right", style: "margin-top: 0px;" %>
        </li>
      </ul>
  <% end %> 
</div><!-- /.row -->
</div>


